<div class="jumbotron">
	<div class="container">
		<h1 color="blue">VizAnalytics</h1>
		<p>Making social bench-marking and web performance analysis simple</p>
		<p><a href="metrics/details" class="btn btn-primary btn-lg" role="button">See all metrics</a></p>
	</div>
</div>

<h2>Reader Engagement</h2>
<div class="row gauge-row">
	<div class="col-xs-4"><h3>Bounce Rate</h3><h4><span class="ajax" metric="43"></span></h4></div>
	<div class="col-xs-4"><h3>Pages Per Session</h3><h4><span class="ajax" metric="51"></span></h4></div>
	<div class="col-xs-4"><h3>Percentage of Loyal Visitors</h3><h4><span class="ajax" metric="50"></span></h4></div>
</div>

<h2>Reader Acquisition</h2>
<div class="row gauge-row">
	<div class="col-xs-3"><h3>Percentage of Sessions Via Search</h3><h4><span class="ajax" metric="75"></span></h4></div>
	<div class="col-xs-3"><h3>Percentage of Sessions Via Social</h3><h4><span class="ajax" metric="76"></span></h4></div>
	<div class="col-xs-3"><h3>Percentage of Sessions Via Referral</h3><h4><span class="ajax" metric="74"></span></h4></div>
	<div class="col-xs-3"><h3>Percentage of Sessions Via Direct Referral</h3><h4><span class="ajax" metric="71"></span></h4></div>
</div>

<h2>Reader Platform</h2>
<div class="row gauge-row">
	<div class="col-xs-4"><h3>Percentage of Sessions on Desktop</h3><h4><span class="ajax" metric="70"></span></h4></div>
	<div class="col-xs-4"><h3>Percentage of Sessions on Mobile</h3><h4><span class="ajax" metric="73"></span></h4></div>
	<div class="col-xs-4"><h3>Percentage of Sessions on Tablet</h3><h4><span class="ajax" metric="77"></span></h4></div>
</div>

<% content_for :head do %>

<script>
$(function() {
	$('.ajax').each(function(i, el) {
		$.getJSON(sprintf('/metrics/metric/%s', $(el).attr('metric')), function(data) {
			$(el).text(data.value.toFixed(2));
		});
	});
});
</script>

<% end %>