
<h1>Engagement</h1>
<div class="row">
	<div class="col-xs-4">
		<h3>Bounce Rate - <span class="ajax text percent" metric="1"></span></h3>
		<span class="ajax bar" metric="6"><div class="progress"><div class="progress-bar progress-bar-success mypopover" role="progressbar" aria-valuemin="0" title="" data-content="content here" data-placement="bottom"  data-toggle="popover" data-original-title="personal title" style="width: 0%; "></div></div></span>
	</div>
	<div class="col-xs-4">
		<h3>Pages Per Session - <span class="ajax text smallnum" metric="10">...</span></h3>
		<span class="ajax bar" metric="15"><div class="progress"><div class="progress-bar progress-bar-success mypopover" role="progressbar" aria-valuemin="0" title="" data-content="content here" data-placement="bottom"  data-toggle="popover" data-original-title="personal title" style="width: 0%; "></div></div></span>
	</div>
	<div class="col-xs-4">
		<h3>Loyal Visitors - <span class="ajax text percent" metric="9">...</span></h3>
		<span class="ajax bar" metric="8"><div class="progress"><div class="progress-bar progress-bar-success mypopover" role="progressbar" aria-valuemin="0" title="" data-content="content here" data-placement="bottom"  data-toggle="popover" data-original-title="personal title" style="width: 0%; "></div></div></span>
	</div>
</div>
<p><a href="#" class="btn btn-primary btn-md">More</a></p>

<div class="row">
	<div class="col-xs-6">
		<h1>Via&hellip;</h1>
		<div class="row">
			<div class="col-xs-3"><h3>Search</h3></div>
			<div class="col-xs-9"><span class="ajax bar" metric="35"><div class="progress"><div class="progress-bar progress-bar-success mypopover" role="progressbar" aria-valuemin="0" title="" data-content="content here" data-placement="bottom"  data-toggle="popover" data-original-title="personal title" style="width: 0%; "></div></div></span></div>
		</div>
		<!--
		<div class="row">
			<div class="col-xs-3"><h3>Social</h3></div>
			<div class="col-xs-9"><span class="ajax bar" metric="36"><div class="progress"><div class="progress-bar progress-bar-success mypopover" role="progressbar" aria-valuemin="0" title="" data-content="content here" data-placement="bottom"  data-toggle="popover" data-original-title="personal title" style="width: 0%; "></div></div></span></div>
		</div>
		-->
		<div class="row">
			<div class="col-xs-3"><h3>Social</h3></div>
			<div class="col-xs-9"><span class="ajax bar" metric="34"><div class="progress"><div class="progress-bar progress-bar-success mypopover" role="progressbar" aria-valuemin="0" title="" data-content="content here" data-placement="bottom"  data-toggle="popover" data-original-title="personal title" style="width: 0%; "></div></div></span></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><h3>Direct</h3></div>
			<div class="col-xs-9"><span class="ajax bar" metric="31"><div class="progress"><div class="progress-bar progress-bar-success mypopover" role="progressbar" aria-valuemin="0" title="" data-content="content here" data-placement="bottom"  data-toggle="popover" data-original-title="personal title" style="width: 0%; "></div></div></span></div>
		</div>
		<p><a href="#" class="btn btn-primary btn-md">More</a></p>
	</div>
	<div class="col-xs-6">
		<h1>Platform</h1>
		<div class="row">
			<div class="progress">
				<div class="progress-bar progress-bar-success ajax stackbar" label="Desktop" metric="30" style="width: 0%">
					<span class="sr-only"></span>
				</div>
				<div class="progress-bar progress-bar-warning ajax stackbar" label="Mobile" metric="33" style="width: 0%">
					<span class="sr-only"></span>
				</div>
				<div class="progress-bar progress-bar-danger ajax stackbar" label="Tablet" metric="37" style="width: 0%">
					<span class="sr-only"></span>
				</div>
			</div>	
		</div>
		<p><a href="#" class="btn btn-primary btn-md">More</a></p>
	</div>
</div>

<% content_for :head do %>

<style>
	.progress {
		height: 30px;
	}
	h3 {
		margin: 0;
		line-height: 30px;
		vertical-align: middle;
	}
	.progress div {
		line-height: 30px;
		vertical-align: middle;
	}
</style>

<script>
$(function() {
	$('.ajax').each(function(i, el) {
		$.getJSON(sprintf('/metrics/metric/%s', $(el).attr('metric')), function(data) {
			value = $(el).hasClass('smallnum') ? data.value.toFixed(2) : Math.floor(data.value);
			if($(el).hasClass('text')) {
				$(el).text(value + ($(el).hasClass('percent') ? '%' : ''));
			}
			if($(el).hasClass('bar')) {
				$(el).find('div.progress div').width(value + '%').text(value + '%');
			}
			if($(el).hasClass('stackbar')) {
				$(el).width(value + '%').text($(el).attr('label'));
			}
		}).fail(function() {
			$(el).text('Not Found');
		});
	});
});

</script>

<% end %>