
<h1>How they interact</h1>
<div class="row">
	<div class="col-xs-4">
		<h3>Bounce Rate - <span class="ajax text percent" metric="1"></span></h3>
		<div class="progress ajax percentile" metric="6">
			<div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%; "></div>
			<div class="progress-bar progress-bar-warning" role="progressbar" style="width: 0%; "></div>
			<div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%; "></div>
		</div>
	</div>
	<div class="col-xs-4">
		<h3>Pages Per Session - <span class="ajax text smallnum" metric="10">...</span></h3>
		<div class="progress ajax percentile" metric="15">
			<div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%; "></div>
			<div class="progress-bar progress-bar-warning" role="progressbar" style="width: 0%; "></div>
			<div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%; "></div>
		</div>
	</div>
	<div class="col-xs-4">
		<h3>Loyal Visitors - <span class="ajax text percent" metric="9">...</span></h3>
		<div class="progress ajax percentile" metric="8">
			<div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%; "></div>
			<div class="progress-bar progress-bar-warning" role="progressbar" style="width: 0%; "></div>
			<div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%; "></div>
		</div>
	</div>
</div>
<p><a href="/metrics/engagement" class="btn btn-primary btn-lg">More</a></p>

<div class="row">
	<div class="col-xs-6">
		<h1>Where they come from</h1>
		<div class="row">
			<div class="col-xs-3"><h3>Search</h3></div>
			<div class="col-xs-9"><div class="progress ajax bar" metric="35"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%; "></div></div></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><h3>Social</h3></div>
			<div class="col-xs-9"><div class="progress ajax bar" metric="36"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%; "></div></div></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><h3>Direct</h3></div>
			<div class="col-xs-9"><div class="progress ajax bar" metric="31"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%; "></div></div></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><h3>Referral</h3></div>
			<div class="col-xs-9"><div class="progress ajax bar" metric="34"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%; "></div></div></div>
		</div>
		<p><a href="/metrics/acquisition" class="btn btn-primary btn-lg">More</a></p>
	</div>
	<div class="col-xs-6">
		<h1>What they use</h1>
		<div class="progress" id="platform">
			<div class="progress-bar progress-bar-success ajax stackbar" metric="30" style="width: 0%" data-toggle="tooltip" data-placement="top" title="Desktop"><i class="fa fa-desktop"></i> </div>
			<div class="progress-bar progress-bar-warning ajax stackbar" metric="33" style="width: 0%" data-toggle="tooltip" data-placement="top" title="Mobile"><i class="fa fa-mobile"></i> </div>
			<div class="progress-bar progress-bar-danger ajax stackbar" metric="37" style="width: 0%" data-toggle="tooltip" data-placement="top" title="Tablet"><i class="fa fa-tablet"></i> </div>
		</div>	
		<p><a href="/metrics/platform" class="btn btn-primary btn-lg">More</a></p>
	</div>
</div>